body {
    display: grid;
    grid-template-areas:
      "nav header"
      "nav main";
    grid-template-columns: 1fr 9fr;
    grid-gap: 20px;
}

dt {
    display: inline;
}

nav {
    text-align: center;
}
nav ul {
    text-align: left;
}

.product dl{
    list-style-type: none;
}

main.products div {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

body main div.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 5px;
}

img {
    max-height: 200px;
    max-width: 100%;
    margin-top: 5px;
}

nav ul {
    list-style-type: none;
}



header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

table {
    max-width: 100%;
}

.product {
    text-align: center;
}

.product button {
    margin-bottom: 1%;
}

input[type='checkbox'] {
    margin: 2%;
}